<!--Name:Mykyta Stenko, Parin Patel-->
<!--COMP308 – Emerging Technologies - Final Team Project-->
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.gif" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
                Survey website. <a href="/#!/surveys"> View surveys</a> and respond to them or <span ng-hide="authentication.user"><a href="/#!/signup">sign up</a>  to </span> create your survey!
			</p>
		</div>