<!--Name:Mykyta Stenko, Parin Patel-->
<!--COMP308 – Emerging Technologies - Final Team Project-->
   <section data-ng-controller="SurveysController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Survey</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="survey.name" id="name" class="form-control" placeholder="Name"  >
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="name">Question 1</label>
                <div class="controls">
                        <input type="text" data-ng-model="survey.question1" id="question1" class="form-control" placeholder="Question 1"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q1answer1" id="q1answer1" class="form-control" placeholder="Answer 1"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q1answer2" id="q1answer2" class="form-control" placeholder="Answer 2"  >
                    </div>
                </div>
                
                <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q1answer3" id="q1answer3" class="form-control" placeholder="Answer 3"  >
                    </div>
                </div>
                <div class="form-group">
                <div class="controls">
                     <label class="control-label" for="name">Question 2</label>
                        <input type="text" data-ng-model="survey.question2" id="question2" class="form-control" placeholder="Question 2"  >
                   
                     </div>  
                </div>
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q2answer1" id="q2answer1" class="form-control" placeholder="Answer 1"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q2answer2" id="q2answer2" class="form-control" placeholder="Answer 2"  >
                    </div>
                </div>
                
                <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q2answer3" id="q2answer3" class="form-control" placeholder="Answer 3"  >
                    </div>
                </div>
            
                
                <div class="form-group">
                    <label class="control-label" for="name">Question 3</label>
                <div class="controls">
                        <input type="text" data-ng-model="survey.question3" id="question3" class="form-control" placeholder="Question 3"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q3answer1" id="q1answer1" class="form-control" placeholder="Answer 1"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q3answer2" id="q1answer2" class="form-control" placeholder="Answer 2"  >
                    </div>
                </div>
                
                <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q3answer3" id="q1answer3" class="form-control" placeholder="Answer 3"  >
                    </div>
                </div>
        


                
                <div class="form-group">
                    <label class="control-label" for="name">Question 4</label>
                <div class="controls">
                        <input type="text" data-ng-model="survey.question4" id="question4" class="form-control" placeholder="Question 4"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q4answer1" id="q1answer1" class="form-control" placeholder="Answer 1"  >
                    </div>
                     </div>  
                
                 <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q4answer2" id="q1answer2" class="form-control" placeholder="Answer 2"  >
                    </div>
                </div>
                
                <div class="form-group">
                <div class="controls">
                        <input type="text" data-ng-model="survey.q4answer3" id="q1answer3" class="form-control" placeholder="Answer 3"  >
                    </div>
                </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>