<!--Name:Mykyta Stenko, Parin Patel-->
<!--COMP308 – Emerging Technologies - Final Team Project-->
<section data-ng-controller="SurveysController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="survey.name"></h1>
        <b>Total number of responses : {{survey.q1count1+survey.q1count2+survey.q1count3}}</b>
	</div>
     <form class="form-horizontal" data-ng-submit="respond(survey)" novalidate>
            <fieldset>
                
    
    <div class="form-group" >
        
        <div>
            <h4 data-ng-bind="survey.question1"></h4>
        </div>
        <div>
            <label data-ng-bind="survey.q1answer1"></label>
            <p>Number of votes: <span data-ng-bind="survey.q1count1"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q1answer2"></label>
            <p>Number of votes: <span data-ng-bind="survey.q1count2"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q1answer3"></label>
            <p>Number of votes: <span data-ng-bind="survey.q1count3"></span></p>
        </div> 
                      
         <div>
            <h4 data-ng-bind="survey.question2"></h4>
        </div>
        <div>
            <label data-ng-bind="survey.q2answer11"></label>
            <p>Number of votes: <span data-ng-bind="survey.q2count11"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q2answer12"></label>
            <p>Number of votes: <span data-ng-bind="survey.q2count12"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q2answer13"></label>
            <p>Number of votes: <span data-ng-bind="survey.q2count13"></span></p>
        </div>
                      
        <div>
            <h4 data-ng-bind="survey.question3"></h4>
        </div>
        <div>
            <label data-ng-bind="survey.q3answer21"></label>
            <p>Number of votes: <span data-ng-bind="survey.q3count21"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q3answer22"></label>
            <p>Number of votes: <span data-ng-bind="survey.q3count22"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q3answer23"></label>
            <p>Number of votes: <span data-ng-bind="survey.q3count23"></span></p>
        </div>
               
        <div>
            <h4 data-ng-bind="survey.question4"></h4>
        </div>
        <div>
            <label data-ng-bind="survey.q4answer31"></label>
            <p>Number of votes: <span data-ng-bind="survey.q4count31"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q4answer32"></label>
            <p>Number of votes: <span data-ng-bind="survey.q4count32"></span></p>
        </div>
        <div>
            <label data-ng-bind="survey.q4answer33"></label>
            <p>Number of votes: <span data-ng-bind="survey.q4count33"></span></p>
        </div>
               
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
                </fieldset>
        </form>
</section>
