<!--Name:Mykyta Stenko, Parin Patel-->
<!--COMP308 – Emerging Technologies - Final Team Project-->
<section data-ng-controller="SurveysController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="survey.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == survey.user._id))">
		<a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
        <a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/info">
			<i class="glyphicon glyphicon-eye-open"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="survey.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="survey.user.displayName"></span>
		</em>
	</small>
     <form class="form-horizontal" data-ng-submit="respond(survey)" novalidate>
            <fieldset>
    
    <div class="form-group" >
                    <label data-ng-bind="survey.question1"></label>
         <select  ng-model="selectedItem" data-ng-init="setFormScope()" ng-init="selectedItem= items[0]"  ng-options="item as item.name for item in items">                                                 
                        </select>
                    </div>
                <div class="controls">
                       
        <div class="form-group">
                    <input ng-click="updateform()" type="submit" class="btn btn-default">
                </div>
                     </div>  
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
                </fieldset>
        </form>
</section>
